<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsNewSchedulerActive" value="N"/>
    <add key="image.prefix" value="thumb-"/>
    <add key="style.folder" value="Uploads\Style\"/>
    <add key="print.folder" value="Uploads\Print\"/>
    <add key="photo.folder" value="Uploads\Photo\"/>
    <add key="order.folder" value="Uploads\Order\"/>
    <add key="temp.folder" value="Uploads\temp\"/>
    <add key="screenshot.folder" value="Uploads\ScreenShots\"/>
    <add key="indBlock.folder" value="Uploads\INDBlock"/>
    <add key="inlineppm.docs.folder" value="Uploads\InlinePPM.Docs\"/>
    <add key="accessory_folder_path" value="uploads/accessory/"/>
    <add key="quality.folder" value="Uploads\Quality\"/>
    <add key="fits.docs.folder" value="Uploads\Fits\"/>
    <add key="garment.testing.docs.folder" value="Uploads\Fits\"/>
    <add key="labtest.folder" value="Uploads\LabTest\"/>
    <add key="delivery.docs.folder" value="Uploads\Delivery\"/>
    <add key="accessory.folder" value="Uploads\Accessory\"/>
    <add key="smtpClient.host" value="smtp.email2host.com"/>
    <add key="smtpClient.port" value="25"/>
    <add key="WorkSheetCount_ForExcel" value="0"/>
    <add key="smtpClient.timeout" value="800000"/>
    <add key="smtpClient.secure" value="false"/>
    <add key="smtpClient.isAuthRequired" value="true"/>
    <add key="smtpClient.user" value="webadmin@boutique.in"/>
    <add key="smtpClient.password" value="IkBi@2015"/>
    <!--<add key="smtpClient.webmaster" value="ikandi.test@simplion.com" />-->
    <add key="smtpClient.webmaster" value="testing@boutique.in"/>
    <add key="isDebug" value="true"/>
    <add key="IsDebugMode" value="NO"/>
    <add key="debugModeEmailId" value="itsupport@boutique.in"/>
    <add key="site.baseUrl" value="HTTP://IKANDI.ORG.UK"/>
    <add key="site.baseUrl.internal" value="http://ikandi.org.uk"/>
    <add key="screenshot.exePath" value="C:\ikandi\iKandi\bin\WebPageScreenShotApp.exe"/>
    <add key="fabric.awbUrl" value="http://www.dhl.co.in/publish/in/en/eshipping/track.high.html?pageToInclude=RESULTS&amp;AWB={0}&amp;type=fasttrack"/>
    <add key="urlikandi" value="http://www.ikandi.org.uk,http://ikandi.org.uk,http://www.ikandi.org.uk,http://stiplggns010"/>
    <add key="urlbipl" value="http://www.boutique.in,http://boutique.in,http://www.boutique.in,http://stiplggns010"/>
    <add key="portnumber" value="80,81,3221,3220"/>
    <add key="Timeout" value="6000"/>
    <!--The number of form fields that are sent in a single post on your page is 1000, i.e The default value of MaxHttpCollectionKeys is 1000, try to set a larger value-->
    <add key="aspnet:MaxHttpCollectionKeys" value="40000"/>
    <!--127.0.0.1-->
    <add key="BIPL.SendClientRegistrationEmail" value="bipl_sales@boutique.in,bipl_sales@boutique.in,bipl_logistics@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendShipmentPreAlertEmail" value="bipl_merchandising@boutique.in,bipl_committee@boutique.in,bipl_qateam@boutique.in,bipl_logistics@boutique.in,bipl_production@boutique.in,hitesh@boutique.in"/>
    <add key="Ikandi.SendCourierDispatchList" value="ikandi_design@ikandi.org.uk,bipl_merchandising@boutique.in,ikandi_technical@ikandi.org.uk,sukh@ikandi.org.uk,rajina@boutique.in,arbind@boutique.in,bipl_qateam@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendCourierDispatchList" value="bipl_merchandising@boutique.in,rajina@boutique.in,arbind@boutique.in,bipl_qateam@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendEmailForPendingBIPLAgreement" value="bipl_sales@boutique.in,bipl_fit_merch@boutique.in,bipl_accountmanagers@boutique.in"/>
    <add key="BIPL.Allocated" value="bipl_ieupdate@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendProductionReportDaily" value="bipl_ieupdate@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="Ikandi.SendEmailForEditOrder" value="bipl_merchandising@boutique.in,bipl_logistics@boutique.in,ikandi_sales@ikandi.org.uk,bipl_sales@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendDailyDesignsCreationEmail" value="bipl_merchandising@boutique.in,hitesh@boutique.in,sanjeev@boutique.in,surendra@boutique.in"/>
    <add key="BIPL.SendMondayCompanyReports" value="bipl_ieupdate@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendCostedStyles" value="bipl_merchandising@boutique.in,bipl_sales@boutique.in"/>
    <add key="Ikandi.SendFITSCommentsUploaded" value="bipl_merchandising@boutique.in,ikandi_sales@ikandi.org.uk,ikandi_technical@ikandi.org.uk,bipl_qateam@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendFITSCommentsUploaded" value="bipl_merchandising@boutique.in,bipl_qateam@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="Ikandi.SendNewOrdersOverallYesterday" value="ikandi_sales@ikandi.org.uk,ikandi_technical@ikandi.org.uk,ikandi_design@ikandi.org.uk,bipl_sales@boutique.in,surendra@boutique.in,hitesh@boutique.in,rajkumar@boutique.in,yashpal@boutique.in"/>
    <!--<add key="Ikandi.SendNewOrdersOverallYesterday" value="surendra@boutique.in,hitesh@boutique.in,Abhishek@boutique.in,Ashish@boutique.in"/>-->
    <add key="BIPL.SendNewOrdersOverallYesterday" value="bipl_merchandising@boutique.in,bipl_sales@boutique.in,bipl_committee@boutique.in,hitesh@boutique.in,rajkumar@boutique.in,yashpal@boutique.in"/>
    <add key="BIPL.SendLiveOrdersOverallToday" value="bipl_committee@boutique.in,bipl_fabrics@boutique.in,bipl_accessories@boutique.in,bipl_merchandising@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendQAPendingToday" value="bipl_ieupdate@boutique.in,bipl_qateam@boutique.in,hitesh@boutique.in,sanjeev@boutique.in,"/>
    <add key="BIPL.SendMondayCompanyResolutionFilledEmail" value="bipl_ieupdate@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="BIPL.SendOnlyExFactoryChangedEmail" value="bipl_committee@boutique.in,bipl_logistics@boutique.in,bipl_production@boutique.in,bipl_accountmanagers@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendExFactoryPlannedToday" value="bipl_committee@boutique.in,bipl_production@boutique.in,bipl_logistics@boutique.in,bipl_accountmanagers@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendPartOFExFactoryOverallToday" value="bipl_committee@boutique.in,bipl_production@boutique.in,bipl_logistics@boutique.in,bipl_accountmanagers@boutique.in,bipl_qateam@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendCancelledOrderEmail" value="bipl_ieupdate@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendQAStausEmail" value="bipl_ieupdate@boutique.in,bipl_logistics@boutique.in,bipl_qateam@boutique.in,hitesh@boutique.in"/>
    <add key="Ikandi.SendOrderDeleveredEmail" value="bipl_logistics@boutique.in,ikandi_sales@ikandi.org.uk,samantha@ikandi.org.uk,robert@ikandi.org.uk"/>
    <add key="BIPL.SendOrderDeleveredEmail" value="bipl_logistics@boutique.in"/>
    <add key="BIPL.SendEmailForEditAccessoryOrder" value="bipl_merchandising@boutique.in,bipl_accessories@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendFabricOrderFormChangesEmail" value="bipl_fabrics@boutique.in,bipl_merchandising@boutique.in,sanjeev@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.SendLivePendingEmail.1" value="bipl_fabrics@boutique.in,bipl_accessories@boutique.in,bipl_committee@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="Ikandi.SendMailOrderRateChange" value="bipl_sales@boutique.in,bipl_merchandising@boutique.in,ikandi_sales@ikandi.org.uk,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="Ikandi.SendSamplePendingOverAWeekEmail" value="bipl_fit_merch@boutique.in,bipl_accountmanagers@boutique.in,bipl_qateam@boutique.in,ikandi_technical@ikandi.org.uk,ikandi_sales@ikandi.org.uk,hitesh@boutique.in,sanjeev@boutique.in,jaiprakash@boutique.in"/>
    <add key="BIPL.SendSamplePendingOverAWeekEmail" value="bipl_fit_merch@boutique.in,bipl_accountmanagers@boutique.in,jaiprakash@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="Ikandi.SendFITSPendingOverAWeekEmail_WithPrice" value="bipl_fit_merch@boutique.in,bipl_accountmanagers@boutique.in,bipl_qateam@boutique.in,ikandi_sales@ikandi.org.uk,ikandi_technical@ikandi.org.uk,hitesh@boutique.in,jaiprakash@boutique.in,sanjeev@boutique.in"/>
    <add key="BIPL.SendFITSPendingOverAWeekEmail_WithPrice" value="bipl_fit_merch@boutique.in,bipl_accountmanagers@boutique.in,jaiprakash@boutique.in,bipl_qateam@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="Ikandi.SendPriceVariationList" value="bipl_accountmanagers@boutique.in,bipl_sales@boutique.in,bipl_pd_merch@boutique.in ,sanjeev@boutique.in,hitesh@boutique.in,tanka@boutique.in"/>
    <add key="BIPL.SendPriceVariationList" value="bipl_accountmanagers@boutique.in,bipl_sales@boutique.in,bipl_pd_merch@boutique.in ,sanjeev@boutique.in,hitesh@boutique.in,tanka@boutique.in"/>
    <add key="BIPL.SendStyleUpdateAndPendingTest" value="bipl_fits@boutique.in,bipl_accountmanagers@boutique.in,bipl_production@boutique.in,bipl_qateam@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="BIPL.SendProductionAndQAUpdateEmail" value="bipl_committee@boutique.in,bipl_merchandising@boutique.in,bipl_production@boutique.in,bipl_qateam@boutique.in,hitesh@boutique.in,sanjeev@boutique.in"/>
    <add key="Ikandi.GetOrderFormChangedByDate" value="bipl_merchandising@boutique.in,bipl_logistics@boutique.in,bipl_sales@boutique.in,ikandi_sales@ikandi.org.uk,hitesh@boutique.in"/>
    <add key="BIPL.GetOrderFormChangedByDate" value="bipl_merchandising@boutique.in,bipl_logistics@boutique.in,bipl_sales@boutique.in,hitesh@boutique.in"/>
    <add key="BIPL.GetPENDINGBUYINGSAMPLESByDate" value="bipl_accountmanagers@boutique.in,bipl_pd_merch@boutique.in"/>
    <add key="QAcompliance" value="0"/>
    <add key="IEcompliance" value="3"/>
    <add key="HRCompliance" value="2"/>
    <!--<add key="MainUrlMail" value="http://boutique.in"/>-->
    <add key="MainUrlMail" value="http://localhost:3241"/>
    <add key="MainIpMail" value="http://192.168.0.4"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Data Source=DBSERVER; Initial Catalog=Mat_Mig_PrepForLive; User ID=sa; Password=ikandiadmin@123; Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.diagnostics>ss
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="iKandi.Trace.Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\ikandi\ikandi\iKandi.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="MyTraceFile"/>
      </listeners>
    </trace>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="MyTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\ikandi\ikandi\iKandi.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Error"/>
      <add name="System.Net.Sockets" value="Error"/>
    </switches>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <anonymousIdentification enabled="true"/>
    <roleManager enabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalMySqlServer" applicationName="Ikandi"/>
        <!--<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Ikandi" />-->
      </providers>
    </roleManager>
    <!--<roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add connectionStringName="LocalMySqlServer" applicationName="/iKandi" name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web,Version=6.0.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </providers>
    </roleManager>-->
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Clear" applicationName="Ikandi"/>
      </providers>
    </membership>
    <!--<membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.0.4.0, Culture=Neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/iKandi" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" autogenerateschema="true" />
      </providers>
    </membership>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
       
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="~/internal/Dashboard.aspx" timeout="480" loginUrl="~/public/login.aspx" name="iKandi.Form" path="/"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
      -->
    <customErrors mode="Off" defaultRedirect="~/internal/CustomError.aspx"/>
    <sessionState mode="InProc" cookieless="false" timeout="480"/>
    <httpRuntime executionTimeout="1500" maxRequestLength="20480" requestLengthDiskThreshold="512"/>
    <pages styleSheetTheme="ikandi" enableSessionState="true" viewStateEncryptionMode="Never" enableViewStateMac="false" maxPageStateFieldLength="1000" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <machineKey validationKey="3B45EE5BCA1A4AE2A8C0BD1FED43BA9B5C4F7078457E89189D32B54F952595E8DB3FA93C9B5FCFC3B355AE1193C4BA007DF5BFEB1FA802474A4FF68A2F35870D" decryptionKey="691D7A52CB524960B202D4E0CEB95516669586E216A9CCD0C1C4051BCE5EE8D3" validation="SHA1" decryption="AES"/>
    <!-- Added WebServices Section -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="internal">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="BIPL"/>
        <allow roles="iKandi"/>
        <allow roles="Client"/>
        <deny users="?"/>
        <deny roles="Partner"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="BIPL"/>
        <allow roles="iKandi"/>
        <deny users="?"/>
        <deny roles="Partner"/>
        <deny roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="internal/Delivery/OrderForwarder.aspx">
    <system.web>
      <authorization>
        <allow roles="Partner"/>
      </authorization>
    </system.web>
  </location>
  <location path="internal/Reports/ClientHomePage.aspx">
    <system.web>
      <authorization>
        <allow roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="internal/Delivery/OrderProcessing.aspx">
    <system.web>
      <authorization>
        <allow roles="Partner"/>
      </authorization>
    </system.web>
  </location>
  <location path="internal/ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Partner"/>
        <allow roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="internal/Reports/ClientDepartmentOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="layout/SecureMaster.aspx">
    <system.web>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <location path="Admin/EmailTemplate/EmailTemplate.aspx">
    <system.web>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <!--<pages validateRequest="false">
    </pages>-->
  <!--<location path="layout/SecureMaster.aspx">
    
    <pages validateRequest="false">
    </pages>
  </location>
  <location path="Admin/EmailTemplate/EmailTemplate.aspx">
    
    <pages validateRequest="false">
    </pages>
  </location>-->
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=7"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension"/>
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="surendra@boutique.in">
        <network host="192.168.0.3" userName="surendra@boutique.in" password="surendra" defaultCredentials="false" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>